@media screen and (min-width: 570px){
  .container-main .header__illustration {
    width: 80%;
    align-self: auto;
  }
}

@media screen and (min-width: 881px) {
  footer .links-footer {
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-around;
    gap: 70px;
  }

  footer .container-links {
    margin-bottom: 0px;
  }
}