@media screen and (min-width: 570px){
  .container-main .header__illustration {
    width: 80%;
    align-self: auto;
  }
}

@media screen and (min-width: 881px) {
  header .nav-container {
    gap: 40px;
  }

  .nav-container label {
    display: none;
  }

  .nav-container .nav-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    border-radius: 0;
    position: initial;
    width: 100%;
    padding: 0;
    background: none;
  }

  .nav-items .nav__list {
    flex-direction: row;
    align-items: flex-start;
    width: auto;
  }

  .nav-items .nav__divisor {
    display: none;  
  }

  footer .links-footer {
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-around;
    gap: 70px;
  }

  footer .container-links {
    margin-bottom: 0px;
  }
}