@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

:root {
  /* Principal */
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /* Secundária */
  --Red: hsl(0, 87%, 67%);

  /* Neutra */
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);

  /* fontes */
  --family-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--family-poppins);
}

/* HEADER */
header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 25px 0px;
  margin-bottom: 15px;
}

/* HEADER: icon menu hamburguer */
.nav-container #nav__icon-menu {
  display: none;
}

.nav-container label {
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
}

.nav-container label::before, 
.nav-container label::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--Gray);
  transition: all .3s ease-in-out;
}

.nav-container label::before {
  top: 0;
  box-shadow: 0 10px 0 var(--Gray);
}

.nav-container label::after {
  top: 20px;
}

#nav__icon-menu:checked + label::before {
  box-shadow: none;
  transform: rotate(-45deg);
  top: 10px;
}

#nav__icon-menu:checked + label::after {
  transform: rotate(45deg);
  top: 10px;
}

/* HEADER: menu items */
.nav-container .nav-items {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  border-radius: 10px;
  position: absolute;
  top: 95px;
  width: calc(100% - 3rem);
  padding: 40px 20px;
  background: var(--Dark-Violet);
}

.nav-items .nav__divisor {
  content: '';
  width: 95%;
  height: 1px;
  background-color: var(--Grayish-Violet);
}

.nav-items .nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 95%;
}

.nav__list:last-child li:last-child {
  width: 100%;
  display: flex;
  text-align: center;
}

.nav__list .list__link {
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}

.nav__list .button--cyan {
  width: 100%;
  cursor: pointer;
}

.button--cyan {
  background: var(--Cyan);
  padding: 15px 0;
  border-radius: 30px;
}